body {
    background-color:#808080;
}

h1 {
    text-align: center;
    font: 26pt "Times New Roman";
    color: darkslateblue;
    margin-bottom: 2%;
}

div.wrapper {
    display: flex;
}

div.form {
    margin: 5px;
    padding: 3px;
    width: 40%;
    border: 5px solid #6f74ff;
    border-radius: 10px;
}

div.editor {
    margin: 5px;
    border: 5px solid #6f74ff;
    width: 100%;
    border-radius: 10px;
}

div.captcha {
    margin: 5px;
    padding: 3px;
    width: 27.6%;
    border: 5px solid #6f74ff;
    border-radius: 10px;
}
